{% extends "layout.html" %}
{% block content %}

<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
<div id="content">
					<div class="post">
<div class="post post-alt">

<h3>RNAinsecta is developed to predict pre-mircroRNA in insects and search for their targets in <i>Drosophila melanogaster</i>. <br><a href="https://www.biorxiv.org/content/10.1101/2022.03.31.486617v1" target="new">Read more </a></h3>






						
						<div class="entry">
						  <div id='container'>

    						 <div id="site_content">
     
      						<div id="content">
<p>

			<div id="page-bgbtm">

<style>
    div.scroll {
    background-color: lightblue;
    height: 300px;
    width: 700px;
    overflow-y: scroll;
    }
</style>
<h5>Pre print:</h5>

<p>
RNAinsecta: A tool for prediction of pre-microRNA in insects using machine learning algorithms.<br>
<i>Adhiraj Nath, Utpal Bora*</i><br>
bioRxiv 2022.03.31.486617; <a href="https://www.biorxiv.org/content/10.1101/2022.03.31.486617v1" target="new"> doi: https://doi.org/10.1101/2022.03.31.486617
</a>

<br>

<h5><a href="https://github.com/adhiraj141092/RNAinsecta" target="new">Link To GitHub</a></h5><br><br>

<h4>Developed and Maintained By:</h4>
<p><B>Adhiraj Nath</B><br>
Ph.D. Student<br>
<a href="https://iitg.ac.in/ubora/" target="new">Bioengineering Research Laboratory</a><br>
<a href="https://www.iitg.ac.in/biotech/" target="new">Department of Biosciences and Bioengineering</a><br>
<a href="https://www.iitg.ac.in/" target="new">IIT Guwahati, India</a><br>

email: adhiraj[AT*]iitg.ac.in<br>

<i>(Replace [AT*] with @ )</i><br>
Phone: +91 87230 13467




     </div>
    </div>

</div>
</div>

						</div>
					</div>
					</div>
					<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>


{% endblock content %}