{% extends "layout.html" %}
{% block content %}
<div id="page1">
		<div id="page-bgtop">
			<div id="page-bgbtm">

<style>
    div.scroll {
    background-color: lightblue;
    height: 300px;
    width: 700px;
    overflow-y: scroll;
    }
</style>

    <input type='hidden' id='targetid' data-targets='{{ targets|tojson }}' />

<h2 class="title">MicroRNA target sites of <i>Drosophila melanogaster</i> searched using miRanda</h2>
						<div class="entry">
{{ error }}
							<p><br><b>Searching target for miRNA: {{ mi }}<br>In Chromosome: {{ chrom }}</b></p>
							<div id="scroll">
								<div id="mir"></div>
								<div id="tar"></div>
							</div>
<pre id="display" style="float:right"></pre>

							</p>
				
						</div>

					<div class="post post-alt">
					

						<div class="entry">
						  <div id='container'>

    						 <div id="site_content">
     
      						<div id="content">
        


 

     </div>
    </div>

</div>
</div>

						</div>
					</div>
					</div>



<script type='module' src="{{ url_for('static', filename='target.js')}}"></script>




<pre id="display"></pre>
<pre id="display1"></pre>

<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>



{% endblock content %}

